<h2>Edit user</h2>
<%= form_for @user do |f| %>
  <%= f.text_field :username, placeholder: 'Input your username'%></br>
  <%= f.email_field :email, placeholder: 'Input your email here'%></br>
  <%= f.password_field :password, placeholder: 'Please put your password'%></br>
  <%= f.submit "Submit"%>
<% end %>